.cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #FFF;
  padding-bottom: 20px;
  gap: 30px;
  position: relative;

  .product-data {
    display: flex;
    gap: 20px;

    img {
      width: 66px;
      height: 68px;
      flex-shrink: 0;
      object-fit: cover;

    }

    .product_overview {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        color: #FFF;
        font-family: Onest;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      span {
        color: #FFF;
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .controls {
    display: flex;
    gap: 20px;
    align-items: center;

    button {
      cursor: pointer;
    }

    span {
      color: #FFF;
      font-family: Onest;
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .trash{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
}
