.myorders-page {
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.bg-svg {
  display: none;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 150px;
  height: auto;
  opacity: 0.3;

  &.bg-1 {
    top: 9%;
    right: 0px;
  }

  &.bg-2 {
    top: 30%;
    left: 0;
  }

  &.bg-3 {
    bottom: 25%;
    right: 10%;
  }
}
.myorders-content{
  height: 100%;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      color: #FFF;
      font-family: Furore;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    img{
      width: 170px;
    }
  }

  .orders{
    display: flex;
    flex-direction: column;
    gap: 16px;
    .order{
      padding: 15px;
      border: 1px solid #FFF;
      background: #000;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      h1{
        color: #FFF;
        font-family: Onest;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .price{
        color: #FFF;
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

}
