.categories-page {
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.bg-svg {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 150px;
  height: auto;
  opacity: 0.3;

  &.bg-1 {
    top: 9%;
    right: 0px;
  }

  &.bg-2 {
    top: 30%;
    left: 0;
  }

  &.bg-3 {
    bottom: 25%;
    right: 10%;
  }
}
.category-content{
  height: 100%;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      color: #FFF;
      font-family: Furore;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .search-bar{
    display: inline-flex;
    padding: 12px 180px 12px 15px;
    align-items: center;
    gap: 16px;
    border: 1px solid #FFF;
    background: #000;
    input{
      background: none;
      outline: none;
      color: #C4C4C4;
      font-family: Onest;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 24px;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
